#define ZMK_POINTING_DEFAULT_SCRL_VAL 120

#include <dt-bindings/zmk/pointing.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

/ {
    behaviors {

        // Кастомное движение мыши
        mmv_slow: mmv_slow {
            compatible = "zmk,behavior-input-two-axis";
            #binding-cells = <1>;
            x-input-code = <INPUT_REL_X>;
            y-input-code = <INPUT_REL_Y>;
            time-to-max-speed-ms = <500>;
            acceleration-exponent = <1>;
        };

        hml: homewrow_mods_left {
            compatible = "zmk,behavior-hold-tap";
            label = "homewrow_mods_left";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            hold-trigger-key-positions = <6 7 8 9 10 11 18 19 20 21 22 23 30 31 32 33 34 35 42 43 44 45 46 47 53 54 55 56 57 58 59 60 61>;
            tapping-term-ms = <300>;
            flavor = "balanced";
            quick-tap-ms = <175>;
            require-prior-idle-ms = <250>;
            hold-trigger-on-release;
        };

        hmr: hmr {
            compatible = "zmk,behavior-hold-tap";
            label = "HMR";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <300>;
            hold-trigger-key-positions = <0 1 12 13 14 15 16 17 24 25 26 27 28 29 36 37 38 39 40 41 48 49 50 51 52 2 3 4 5>;
            flavor = "balanced";
            quick-tap-ms = <175>;
            require-prior-idle-ms = <250>;
            hold-trigger-on-release;
        };

        tap_preferred: tap_preferred {
            compatible = "zmk,behavior-hold-tap";
            label = "TAP_PREFERRED";
            bindings = <&mo>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <40>;
            flavor = "tap-preferred";
        };

        phrase_proshu: phrase_proshu {
            compatible = "zmk,behavior-macro";
            label = "phrase_proshu";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LSHIFT>,
                <&macro_tap>,
                <&kp G>,
                <&macro_release>,
                <&kp LSHIFT>,
                <&macro_tap>,
                <&kp H>,
                <&macro_tap>,
                <&kp J>,
                <&macro_tap>,
                <&kp I>,
                <&macro_tap>,
                <&kp E>,
                <&macro_tap>,
                <&kp SPACE>,
                <&macro_tap>,
                <&kp H>,
                <&macro_tap>,
                <&kp F>,
                <&macro_tap>,
                <&kp C>,
                <&macro_tap>,
                <&kp C>,
                <&macro_tap>,
                <&kp V>,
                <&macro_tap>,
                <&kp J>,
                <&macro_tap>,
                <&kp N>,
                <&macro_tap>,
                <&kp H>,
                <&macro_tap>,
                <&kp T>,
                <&macro_tap>,
                <&kp N>,
                <&macro_tap>,
                <&kp M>,
                <&macro_press>,
                <&kp LCTRL>,
                <&macro_tap>,
                <&kp ENTER>,
                <&macro_release>,
                <&kp LCTRL>;
        };

        phrase_spasibo: phrase_spasibo {
            compatible = "zmk,behavior-macro";
            label = "phrase_spasibo";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LSHIFT>,
                <&macro_tap>,
                <&kp C>,
                <&macro_release>,
                <&kp LSHIFT>,
                <&macro_tap>,
                <&kp G>,
                <&macro_tap>,
                <&kp F>,
                <&macro_tap>,
                <&kp C>,
                <&macro_tap>,
                <&kp B>,
                <&macro_tap>,
                <&kp COMMA>,
                <&macro_tap>,
                <&kp J>,
                <&macro_tap>,
                <&kp EXCL>,
                <&macro_press>,
                <&kp LCTRL>,
                <&macro_tap>,
                <&kp ENTER>,
                <&macro_release>,
                <&kp LCTRL>;
        };
    };

    combos {
        compatible = "zmk,combos";

        minus { bindings = <&kp MINUS>; key-positions = <31 30>; };
        par { bindings = <&kp RIGHT_PARENTHESIS>; key-positions = <31 32>; require-prior-idle-ms = <100>; };
        par2 { bindings = <&kp LEFT_PARENTHESIS>; key-positions = <27 28>; require-prior-idle-ms = <100>; };
        underscore { bindings = <&kp UNDER>; key-positions = <42 43>; };
        bra { bindings = <&kp LEFT_BRACKET>; key-positions = <15 16>; };
        right { bindings = <&kp RIGHT_BRACKET>; key-positions = <19 20>; };
        equal { bindings = <&kp EQUAL>; key-positions = <40 41>; };
        plus { bindings = <&kp PLUS>; key-positions = <18 19>; };
        esc { bindings = <&kp ESCAPE>; key-positions = <0 1>; };
        LAYER_BT { bindings = <&mo 5>; key-positions = <36 47>; };
        home { bindings = <&kp HOME>; key-positions = <10 22>; layers = <1>; };
        end { bindings = <&kp END>; key-positions = <11 23>; layers = <1>; };
        pg_up { bindings = <&kp PAGE_UP>; key-positions = <10 11>; layers = <1>; };
        pg_dn { bindings = <&kp PAGE_DOWN>; key-positions = <22 23>; layers = <1>; };
        ar_up { bindings = <&kp UP_ARROW>; key-positions = <34 35>; layers = <1>; };
        ar_dn { bindings = <&kp DOWN_ARROW>; key-positions = <46 47>; layers = <1>; };
        ar_lt { bindings = <&kp LEFT_ARROW>; key-positions = <34 46>; layers = <1>; };
        al_rt { bindings = <&kp RIGHT_ARROW>; key-positions = <35 47>; layers = <1>; };
        less { bindings = <&kp LESS_THAN>; key-positions = <39 40>; };
        greater { bindings = <&kp GREATER_THAN>; key-positions = <43 44>; };
        logoff { bindings = <&kp LG(L)>; key-positions = <0 12>; };

    };

    macros { };

    keymap {
        compatible = "zmk,keymap";

        QWERTY { bindings = <
&kp GRAVE   &kp N1   &kp N2   &kp N3   &kp N4   &kp N5      &kp N6   &kp N7   &kp N8     &kp N9    &kp N0     &kp MINUS
&kp TAB     &kp Q    &kp W    &kp E    &kp R    &kp T       &kp Y    &kp U    &kp I      &kp O     &kp P      &kp LEFT_BRACKET
&kp LSHFT   &kp A    &kp S    &kp D    &kp F    &kp G       &kp H    &kp J    &kp K      &kp L     &kp SEMI   &kp APOS
&kp LCTRL   &kp Z    &kp X    &kp C    &kp V    &kp B       &kp N    &kp M    &kp COMMA  &kp DOT   &kp FSLH   &mo 2
            &kp N0   &kp N1   &kp N2   &kp N3   &kp N4      &kp N5   &kp N6   &kp N7     &kp N8    &kp N9
            >; };

        num_and_fun { bindings = <
&trans  &kp F1              &kp F2              &kp F3          &kp F4              &kp F5               &trans           &trans           &trans           &trans        &trans         &trans
&trans  &kp F6              &kp F7              &kp F8          &kp F9              &kp F10              &kp LPAR         &kp NUMBER_7     &kp NUMBER_8     &kp NUMBER_9  &kp KP_DIVIDE  &kp ASTERISK
&trans  &kp LA(LEFT_ARROW)  &kp LC(LEFT_ARROW)  &kp UP_ARROW    &kp LC(RIGHT_ARROW)  &kp F11              &kp RPAR         &kp NUMBER_4     &kp NUMBER_5     &kp NUMBER_6  &kp MINUS      &kp RS(EQUAL)
&trans  &kp LA(RIGHT_ARROW) &kp LEFT_ARROW      &kp DOWN_ARROW  &kp RIGHT_ARROW     &kp F12              &kp KP_NUMBER_0  &kp NUMBER_1     &kp NUMBER_2     &kp NUMBER_3  &kp KP_DOT     &kp LEFT_ALT
        &trans              &trans              &trans          &trans              &trans               &trans           &trans           &trans           &trans        &trans
            >; };

        auto_mouse { bindings = <
&trans  &trans     &trans     &trans  &trans     &trans         &trans  &trans  &trans     &trans     &trans            &trans
&trans  &trans     &trans     &trans  &trans     &trans         &trans  &trans  &trans     &trans     &trans            &trans
&trans  &trans     &trans     &trans  &trans     &trans         &trans  &trans  &trans     &trans     &trans            &trans
&trans  &trans     &trans     &trans  &trans     &trans         &trans  &trans  &mkp LCLK  &mkp RCLK  &lt 3 SCROLLLOCK  &trans 
        &mkp LCLK  &mkp RCLK  &trans  &trans     &mkp MCLK      &trans  &trans  &trans     &trans     &trans
            >; };

        snipe_layer { bindings = <
&trans  &trans     &trans     &trans  &trans     &trans         &trans  &trans  &trans     &trans     &trans            &trans
&trans  &trans     &trans     &trans  &trans     &trans         &trans  &trans  &trans     &trans     &trans            &trans
&trans  &trans     &trans     &trans  &trans     &trans         &trans  &trans  &trans     &trans     &trans            &trans
&trans  &trans     &trans     &trans  &trans     &trans         &trans  &trans  &mkp LCLK  &mkp RCLK  &lt 3 SCROLLLOCK  &trans 
        &mkp LCLK  &mkp RCLK  &trans  &trans     &mkp MCLK      &trans  &trans  &trans     &trans     &trans
            >; };

        corrections { bindings = <
&trans  &trans  &trans             &trans     &trans          &trans          &trans           &trans  &trans      &trans  &trans  &trans
&trans  &trans  &trans             &trans     &trans          &trans          &phrase_proshu   &trans  &trans      &trans  &trans  &trans
&trans  &trans  &kp LC(BACKSPACE)  &kp LC(Z)  &kp LC(DELETE)  &trans          &phrase_spasibo  &trans  &trans      &trans  &trans  &trans
&trans  &trans  &kp BACKSPACE      &kp LC(Z)  &kp DELETE      &trans          &trans           &trans  &trans      &trans  &trans  &trans
        &trans  &trans             &trans     &trans          &trans          &trans           &trans  &kp DELETE  &trans  &trans
            >; };

        set_bt { bindings = <
&trans  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4      &bootloader  &trans  &trans  &trans  &trans  &trans
&trans  &trans        &trans        &trans        &trans        &bt BT_CLR        &trans       &trans  &trans  &trans  &trans  &trans
&trans  &trans        &trans        &trans        &trans        &trans            &trans       &trans  &trans  &trans  &trans  &trans
&trans  &trans        &trans        &trans        &trans        &trans            &trans       &trans  &trans  &trans  &trans  &trans
        &trans        &trans        &trans        &trans        &trans                         &trans  &trans  &trans  &trans  &trans
            >; };
    };
};
